// app global css in Sass form

.h3 {
  text-align: center;
  color: rgb(128, 181, 216);
  font-size: 25px;
  // font-weight: bold;
}

// #ace8e6 main color

// ШРИФТЫ
.font-lobster {
  font-family: 'Lobster', cursive !important;
  font-size: 35px;
}

.font-size-lobster {
  font-size: 2rem !important;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

.font-size-opne-sans {
  font-size: 2rem !important;
}
